:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Ensure that everything is transparent,
// so that the chat page can be seen through the extension
* {
  background-color: transparent !important;
  overflow: hidden !important;
}

html, body, #root {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
}

main {
  height: calc(100% - 20px);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

canvas {
  border: 0;
}
canvas.no-border {
  border: none;
}

img {
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.maze {
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  opacity: 70%;
  transform: translate(-50%, -50%);
  background-color: darkolivegreen;
}


// Take full height if screen is wider
@media (min-aspect-ratio: 1/1) {
  img {
    height: 100vh;
  }
  .quit {
    height: 100vh;
  }
  .playing {
    width: 100vh;
  }
}

// Take full width if screen is taller
@media (max-aspect-ratio: 1/1) {
  img {
    width: 100vw;
  }
  .quit {
    width: 100vw;
  }
  .playing {
    height: 100vh;
  }
}



